<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="a57a9b">  <td>16/10/26 08:02:15</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BuildPageSanity.InitialSetUp()[pri:0, instance:SanityCheck.BuildPageSanity@26be92ad]">&gt;&gt;InitialSetUp</td> 
<td>&nbsp;</td>  <td>main@1076496284</td>   <td></td> </tr>
<tr bgcolor="74d26a">  <td>16/10/26 08:03:09</td>   <td>53907</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Helper.closeSetup(org.testng.ITestResult)[pri:0, instance:SanityCheck.BuildPageSanity@26be92ad]">&lt;&lt;closeSetup</td> 
<td>&nbsp;</td>  <td>main@1076496284</td>   <td></td> </tr>
<tr bgcolor="a57a9b">  <td>16/10/26 08:02:38</td>   <td>22390</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="BuildPageSanity.verifyHomeTab()[pri:0, instance:SanityCheck.BuildPageSanity@26be92ad]">verifyHomeTab</td> 
  <td>main@1076496284</td>   <td></td> </tr>
</table>
