<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="9fba89">  <td>16/09/28 11:34:39</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginRegressionTest.InitialSetUp()[pri:0, instance:RegressionCheck.LoginRegressionTest@4b9e13df]">&gt;&gt;InitialSetUp</td> 
<td>&nbsp;</td>  <td>main@89387388</td>   <td></td> </tr>
<tr bgcolor="9fba89">  <td>16/09/28 11:35:08</td>   <td>29119</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginRegressionTest.InitialSetUp()[pri:0, instance:RegressionCheck.LoginRegressionTest@4b9e13df]">&gt;&gt;InitialSetUp</td> 
<td>&nbsp;</td>  <td>main@89387388</td>   <td></td> </tr>
<tr bgcolor="9fba89">  <td>16/09/28 11:35:28</td>   <td>48685</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginRegressionTest.InitialSetUp()[pri:0, instance:RegressionCheck.LoginRegressionTest@4b9e13df]">&gt;&gt;InitialSetUp</td> 
<td>&nbsp;</td>  <td>main@89387388</td>   <td></td> </tr>
<tr bgcolor="a18c79">  <td>16/09/28 11:35:08</td>   <td>28758</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Helper.closeSetup(org.testng.ITestResult)[pri:0, instance:RegressionCheck.LoginRegressionTest@4b9e13df]">&lt;&lt;closeSetup</td> 
<td>&nbsp;</td>  <td>main@89387388</td>   <td></td> </tr>
<tr bgcolor="a18c79">  <td>16/09/28 11:35:28</td>   <td>48586</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Helper.closeSetup(org.testng.ITestResult)[pri:0, instance:RegressionCheck.LoginRegressionTest@4b9e13df]">&lt;&lt;closeSetup</td> 
<td>&nbsp;</td>  <td>main@89387388</td>   <td></td> </tr>
<tr bgcolor="a18c79">  <td>16/09/28 11:35:44</td>   <td>64552</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Helper.closeSetup(org.testng.ITestResult)[pri:0, instance:RegressionCheck.LoginRegressionTest@4b9e13df]">&lt;&lt;closeSetup</td> 
<td>&nbsp;</td>  <td>main@89387388</td>   <td></td> </tr>
<tr bgcolor="9fba89">  <td>16/09/28 11:34:58</td>   <td>18206</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginRegressionTest.verifyBlankLoginCredentialTest()[pri:0, instance:RegressionCheck.LoginRegressionTest@4b9e13df]">verifyBlankLoginCredentialTest</td> 
  <td>main@89387388</td>   <td></td> </tr>
<tr bgcolor="9fba89">  <td>16/09/28 11:35:28</td>   <td>48227</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginRegressionTest.verifyBlankPasswordLoginCredentialTest()[pri:0, instance:RegressionCheck.LoginRegressionTest@4b9e13df]">verifyBlankPasswordLoginCredentialTest</td> 
  <td>main@89387388</td>   <td></td> </tr>
<tr bgcolor="9fba89">  <td>16/09/28 11:35:43</td>   <td>63342</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginRegressionTest.verifyInvalidLoginCredentialTest()[pri:0, instance:RegressionCheck.LoginRegressionTest@4b9e13df]">verifyInvalidLoginCredentialTest</td> 
  <td>main@89387388</td>   <td></td> </tr>
</table>
